* {
    box-sizing: border-box;
  }

html {
    /* margin: 0;
    padding: 0; */
    height: 100%;
}

body {
    /* margin: 0;
    padding: 0; */
    height: 100%;
    background-image: url('background.jpg');
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: blueviolet;
    font-size: 48px;
}

.result {
    text-align: center;
    margin-top: 30px;
    color: rgb(181, 115, 243);
    font-size: 40px;
}

.instruction {
    text-align: center;
    margin-top: 10px;
    color: rgb(192, 157, 224);
    font-size: 20px;
}

.logo-container {
    text-align: center;
    /* margin-bottom: 40px; */
    padding-bottom: 40px;
}

.logo-container img {
    max-height: 500px;
    max-width: 800px;
}