* {
    box-sizing: border-box;
  }

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('background.avif');
}

h1 {
    text-align: center;
    margin-top: 200px;
    color: azure;
    font-size: 48px;
}

p {
    text-align: center;
    margin-top: 1%;
    color: blanchedalmond;
    font-size: 30px;
}

form {
    text-align: center;
    margin-top: 3%;
}

.search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #0056b3;
}

table {
    text-align: center;
    margin-top: 1%;
}
