* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('background.jpg');
}

.container {
  text-align: center;
}

.logo-image {
  width: 20%; /* Adjusted percentage width */
  margin-top: 4%;
}

.search-bar {
  text-align: left;
  margin-top: 4%;
  margin-bottom: 2%;
  padding: 5px; /*Increase padding for better visual appearance*/
  font-size: 20px; /* Increase font size */
  width: 30%; /* Increase width to make the bar longer */
  height: 30px; /* Increase height to make the bar larger */
  border-radius: 20px;
}

.search-bar:focus {
  outline: none; /* Remove the outline only when the input is focused */
}

.search-button {
  padding: 5px 15px; /* Adjust padding to make the button smaller */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2%;
}

  /* Add padding directly to the table element */
table {
  margin: 0 auto; /* This will horizontally center the table */
  /* padding-left: 40px; Adjust the value as needed */
}

/* Allow content to wrap to the next line */
td {
  max-width: 500px; /* Adjust the width as needed */
  word-wrap: break-word; /* Wrap long words */
  white-space: normal; /* Allow text to wrap */
}
/* .spacer {
  margin-bottom: 30px;
} */