* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('background.jpg');
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 48px;
    color: #3e148d; /* Default color - dark gray */
    font-weight: bold;
}

.button {
  padding: 5px 15px; /* Adjust padding to make the button smaller */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 20px;
  appearance: none; /* Remove default button appearance */
  width: fit-content; /* Adjust width based on content */
}

.image-container {
  display: flex;
  justify-content: center; /* Horizontally center the images */
  align-items: center; /* Vertically center the images */
  flex-wrap: wrap; /* Allow images to wrap to the next line if necessary */
}

.trending-image {
  max-width: 100%; /* Ensure images don't exceed their container's width */
  margin: 10px; /* Add some margin between images */
}