* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('background.jpg');
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 48px;
    color: #3e148d; /* Default color - dark gray */
    font-weight: bold;
}

.image-container {
  display: flex;
  justify-content: center; /* Horizontally center the images */
  align-items: center; /* Vertically center the images */
  flex-wrap: wrap; /* Allow images to wrap to the next line if necessary */
}

.trending-image {
  max-width: 100%; /* Ensure images don't exceed their container's width */
  margin: 10px; /* Add some margin between images */
}