<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>ABC NOT Search</title>
        <link rel="stylesheet" href="../static/css/crash_page.css" />
    </head>
    <body>
        <div class="caption">
            <h1>Uh Oh...</h1>
            <p class="result">The page is not found...</p>
            <p class="instruction">Click the image to return to the last page</p>
        </div>
        <div class="logo-container">
            <a href="javascript:history.back()">
            <img src="../static/css/crash_cat.png" alt="Return">
            </a>
        </div>
        <!-- <div>
            <input
            type="submit"
            name="search_method"
            value="Return"
            class="return-button"
            />
        </div> -->
    </body>
</html>