<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ABC NOT Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crash.css') }}" />
  </head>
  <body>
    <div class="caption">
      <h1>Uh oh...</h1>
      <p class="result">We haven't found anything...</p>
      <p class="instruction">Click the image to go back to search something else</p>
    </div>
    <div class="logo-container">
      <a href="javascript:history.back()">
        <img src="{{ url_for('static', filename='css/Crash_animals/' + animal_image) }}" alt="Return" />
      </a>
    </div>
  </body>
</html>
