{% extends 'returnpage.html' %} {% block head %}
<title>Search Results</title>
{% endblock %} {% block body %}
<h1 id="title">Results you are looking for</h1>
<div class="content">
  <table>
    {% for items in results %} 
      {% for item in items %}
      <tr>
        <th>Title</th>
        <td>{{ item.title }}</td>
      </tr>
      <tr>
        <th>Preview</th>
        <td>{{ item.preview }}</td>
      </tr>
      <tr>
        <th>URL</th>
        <td><a href="{{ item.url }}">{{ item.url }}</a></td>
      </tr>
      {% endfor %}
    {% endfor %}
  </table>
</div>
{% endblock %}