{% extends 'returnpage.html' %} {% block head %}
<title>Search Results</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/return.css') }}" />
{% endblock %} {% block body %}
<!-- Add the logo in the top -->
<div class="container">
  <div>
    <a href="/" title="Click to return to Home Page">
      <img
      src="{{ url_for('static', filename='css/UI_image.jpg') }}"
      alt="ABC_search"
      class="logo-image"
      />
    </a>
  </div>
    <!-- Search bar with buttons for different search methods -->
    <form action="/search" method="post">
        <input
          type="text"
          name="query"
          value="{{ results[0]|replace('Query: ', '') }}"
          autofocus
          placeholder="Search..."
          class="search-bar"
        />
      <!-- Search buttons as seen on the front page -->
      <div>
      <button
        type="submit"
        name="search_method"
        value="Boolean Search"
        class="search-button"
      >
        Boolean Search
      </button>
      <button
        type="submit"
        name="search_method"
        value="TF-IDF Search"
        class="search-button"
      >
        TF-IDF Search
      </button>
      <button
        type="submit"
        name="search_method"
        value="Semantic Search"
        class="search-button"
      >
        Semantic Search
      </button>
      </div>
    </form>
    <!-- need more space here. Will define it in CSS -->
</div>  
    <table>
      <!-- Adjusted loop to skip the first item (query) -->
      {% for item in results[1:] %}
      <tr>
        <th>Title</th>
        <td>{{ item.title }}</td>
      </tr>
      <tr>
        <th>Preview</th>
        <td>{{ item.preview }}</td>
      </tr>
      <tr>
        <th>URL</th>
        <td><a href="{{ item.url }}">{{ item.url }}</a></td>
      </tr>
      <!-- Adding more space between each block of output -->
      <tr class="spacer">
        <td colspan="2">&nbsp;</td>
      </tr>
      {% endfor %}
    </table>
  {% endblock %}