<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BACoN</title>
    <link rel="stylesheet" href="/Site/static/css/search_UI.css">
  </head>
  <body>
    <h1 id="title">Authoritative Medical Search</h1>
    <p id="description">What do you want to look for today?</p>
      <form>
        <input type="text" name="query" autofocus>
        <input type="submit" value="Search" class="search-button">
      </form>
      <table>
      <!--Go through each item in the "matches" variable sent from
      search() function in the Flask app-->
      {% for item in matches %}
      <tr>
      <!--Display the name of the item based on the "name" key-->
      <td>{{ item["name"] }}</td>
      <!--Display the image of the item based on the "source" key-->
      <td></td>
      </tr>
      <!--End for loop-->
      {% endfor %}
      </table>
  </body>
</html>