<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ABC Search</title>
    <link rel="stylesheet" href="../static/css/front_page.css" />
  </head>
  <body>
    <!-- <h1 id="title">Authoritative Medical Search</h1>
    <p id="description">What do you want to look for today?</p> -->
    <!-- Combined form for search input and method -->
    <div class="container">
    <div class="logo-container">
      <a href="/">
        <img src="../static/css/UI_image.jpg" alt="ABC_search">
      </a>
    </div>  
    <div>
    <form action="/search" method="post" class="search-bar">
      <input
        type="text"
        name="query"
        autofocus
        placeholder="Enter your query"
        class="search-input"
      />
      <!-- Notice the buttons are now part of the same form as the input -->
      <div class="button">
      <input
        type="submit"
        name="search_method"
        value="Boolean Search"
        class="search-button"
      />
      <input
        type="submit"
        name="search_method"
        value="TF-IDF Search"
        class="search-button"
      />
      <input
        type="submit"
        name="search_method"
        value="Semantic Search"
        class="search-button"
      />
      </div>
    </form>
    </div>
    </div>
    <div class="footnote">
      <a href="trending">What's trending right now?</a>
    </div>
  </body>
</html>
