<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BACoN</title>
    <link rel="stylesheet" href="../static/css/front_page.css">
  </head>
  <body>
    <h1 id="title">Authoritative Medical Search</h1>
    <p id="description">What do you want to look for today?</p>
      <form action="/search", method = "post" class="search-bar">
        <input type="text" name="query" autofocus placeholder="Enter your query" class="search-input">
      </form>
      <form>
        <input type="submit" name="search_method" value="Boolean Search" class="search-button">
        <input type="submit" name="search_method" value="TF-IDF Search" class="search-button">
        <input type="submit" name="search_method" value="Fuzzy Search" class="search-button">
      </form>
  </body>
</html>